$dashboard_9:     #DFDFDF;
$dashboard_14:    #C4C4C4;
$dashboard_15:    #BCBEC0;
$dashboard_19:    #A8A7A7;
$dashboard_25:    #5F6062;
$dashboard_35:    #84B9CF;
$dashboard_49:    #769AA6;
$dashboard_68:    #9DE1FD;
$dashboard_73:    #48B5DA;
$dashboard_78:    #2C92B6;
$dashboard_79:    #028CB9;
$dashboard_92:    #36BCC2;
$dashboard_116:   #EDBE00;
$dashboard_129:   #E21954;

//
*                                       {
  @include box-sizing();
  margin:0px; padding:0px; border:none; outline:none; text-decoration:none; list-style-type:none; list-style-position:outside; vertical-align:top; border-collapse:collapse; resize:none; background:none;
}

//
#quickdoc-toggle      {position:absolute; top:0px; right:0px; z-index:1; cursor:pointer;
  // &:hover svg path    {stroke:$dashboard_78;}
}

//
#quickdocs            {position:fixed; top:0px; bottom:0px; left:0px; z-index:100000; width:350px; height:100%; transition:left 60ms;

  &.closed            {left:-350px;}
  &.open              {left:0px;}
  &.failed            {
    &:before          {content:""; opacity:0.50; position:absolute; top:0px; left:0px; width:100%; height:100%; background:$black; pointer-events:none;}
    p                 {@include font-size(14px); position:absolute; top:50%; left:0px; width:100%; padding:40px; text-align:center; color:$white;
      a               {color:$dashboard_15; text-decoration:underline;}
    }
  }

  //
  header              {display:flex; align-items:center; justify-content:space-between; padding:9px 18px; color:$white; background:$dashboard_73;
    svg#docs          {margin-right:12px;}
    h1                {@include font-size (16px); margin-right:auto; padding:0px; font-weight:normal;}
    svg#close-x       {cursor:pointer;}
  }

  //
  section             {width:100%; height:100%; padding:25px 25px; background:$white; overflow-y:scroll;
    a                 {color: $dashboard_73; &:hover {color: $dashboard_79;}}
    h1                {@include font-size (18px); color: $dashboard_25; font-weight: normal; padding: 20px  0; }
    h2                {@include font-size (15px, 20px); font-weight: bold; color: $dashboard_49 !important; margin: 35px 0 15px; padding-bottom: 0 !important; border: none; }
    ul                {list-style: none; padding-left: 0; margin: 10px 0 20px;
      li              {@include font-size (14px, 22px); color: $dashboard_15;}
    }
    p                 {@include font-size (14px, 24px); color: $dashboard_19; margin-bottom: 20px;}
    hr                {border: 0; height: 1px; background-color: $dashboard_9; margin:24px 0 6px }
    table             {@include font-size(12px, 18px); width: 100%; margin: 0 0 30px;
      tbody           {background: none;
        tr            {color: $dashboard_92;
          td          {border-top: 1px $dashboard_9 solid; border-width: 1px 0 0 0; padding: 8px 10px 8px 0;}
        }
      }
    }
  }
}
